.cardModal{
    background-color: rebeccapurple;
    display: none;
    width: 50px;
    height: 50px;
    z-index: 3;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.content {
    margin: auto;
    width: 80%;
    height: 30%;
    background-color: aqua;
    border-radius: 15px;
}

h1{
    padding-left: 15px;
    padding-top: 15px;
}